<% layout('layouts/boilerplate')%>

<h1 class="text-center">RULES:</h1>

<h2 class="offset-1 col-10">HOW TO WIN:</h2>
<p class="offset-1 col-10">Spell words and bet well!  Whoever has the most money at the end of the game wins!
</p>

<h2 class="offset-1 col-10">SETUP:</h2>
<p class="offset-1 col-10">Each player begins with 10&#162; and a hand of 3 Letters.  Depending on the number of players, the bank will begin with
    50&#162; (2-players), 60&#162; (3-players), or 80&#162; (4-players).  Click on the 'X' next to a player to remove them,
    and the buttons below to add new players.  You can also toggle if a player is human or computer controlled.  Click 'Start Game' when you are ready 
    to begin!
</p>

<br>
<h2 class="offset-1 col-10">Playing A Round:</h2>

<h3 class="offset-1 col-10">Setting Aside Cards for Spelling:</h3>
<p class="offset-1 col-10">At the start of a round of play, one player must choose any number of cards from their
    hand (including 0) to use in spelling a word.  At the end of the round, they will use these letters and the
    letters in the middle (known as the Research Line) to spell a word.  The cards set aside from the hand MUST 
    be used to spell the word.  Click on a card in your hand to select it, then click 'Confirm' to submit your
    selection.
</p>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521090/ExtraExtra/Characters/SetAside1_t6xhqd.png" alt="">
        </div>
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521090/ExtraExtra/Characters/SetAside2_hozdws.png" alt="">
        </div>
    </div>
</div>

<br>
<br>
<h3 class="offset-1 col-10">Betting:</h3>
<p class="offset-1 col-10">After the spelling player as set aside cards from their hand (if any), all of the other
    players must bet on which letters from the Research Line will be used.  To place a bet, click on a card from the
    Research Line (the top row of cards).  You may place as many bets as you like, on any number of cards.  You must
    place at least 1&#162; in bets.  You cannot place bets if you run out of money, or large bets on certain cards
    (see Card Rules below).  The amount that you have bet will show up on the bottom of the card.  Click 'Confirm'
    when you are happy with your bets, or 'Cancel' if you want to undo and make changes.
</p>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521089/ExtraExtra/Characters/Betting1_vi3wvr.png" alt="">
        </div>
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521089/ExtraExtra/Characters/Betting2_qye4an.png" alt="">
        </div>
    </div>
</div>

<br>
<br>
<h3 class="offset-1 col-10">Spelling:</h3>
<p class="offset-1 col-10">Once all other players have made their bets, the spelling player attempts to spell a word.
    If they cannot (or simply choose not to), they may click 'Skip Turn'.  They will be dealt a new hand of 3 cards,
    but lose their turn.  All bets will be refunded.
</p>
<p class="offset-1 col-10">Normally, however, a player will choose to spell a word.  Click
    on the Letters you wish to use in the order that the word will be spelled.  You can click on the Letters a second
    time to return them to their origional spot.  Once you have spelled a word, click 'Confirm'.
</p>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521094/ExtraExtra/Characters/Spelling1_qrvzqp.png" alt="">
        </div>
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521094/ExtraExtra/Characters/Spelling5_pwk93e.png" alt="">
        </div>
    </div>
</div>
<br>
<p class="offset-1 col-10">Players will notice stacks of money on the Research Line Letters (the middle row). Stacks
    of money in the CENTER of the card represents that Letter's Ledger.  This is money that the speller will collect
    if they use that Letter.  Stacks of money on the EDGES of the card represent other player's bets.  This is how
    much the speller will have to pay to use that Letter.
</p>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521092/ExtraExtra/Characters/Spelling2_tdpvax.png" alt="">
        </div>
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521094/ExtraExtra/Characters/Spelling3_aumy3w.png" alt="">
        </div>
    </div>
</div>
<br>
<p class="offset-1 col-10">Players may also notice stacks of cards on the Research Line.  If there is more than one
    card in a stack, the speller may use up to that many of that Letter in their word.  If there are bets on that
    Letter, they must pay for EACH use of the letter.
</p>


 
<br>
<br>
<h3 class="offset-1 col-10">End of the Round:</h3>
<p class="offset-1 col-10">The spelling player makes money in two ways -- the length of the word, and the Ledgers 
    on the Letters they used.  The amount of money gained from the length of the word is shown on the top row.
    For example, a speller would gain 4&#162; from the bank for a 4-letter word.  The amount of money gained from 
    Ledgers is the money in the center of the Reasearch Line Letters they used in the spelled word.
</p>
<p class="offset-1 col-10">You can see these changes reflected in the score.  You can view everyone's score at any 
    time by clicking on 'scores' at the top of the screen.
</p>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521087/ExtraExtra/Characters/PayEnd1_bpqlny.png" alt="">
        </div>
        <div class="col-6">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_400/v1625521092/ExtraExtra/Characters/PayEnd3_tibqmv.png" alt="">
        </div>
    </div>
</div>
<br>
<p class="offset-1 col-10">Click 'Pay and End' to pay those who bet on Letters that were used in the word and end 
    the round.  Any unused bets will be moved into their Letter's Ledger.  The speller draws back up to a hand of 3,
    and the Research Line is refilled to 5 (or 6, see Card Rules below).  The next player becomes the new speller and
    a new round begins.
</p>


<br>
<br>
<h2 class="offset-1 col-10">End of the Game:</h2>
<p class="offset-1 col-10">Play continues until the Bank runs out of money.  At this point, everyone except the starting
    player gets one more round to be the spelling player.  After that, whoever has the most money is the winner!  If players
    have an equal amount of money, they share the victory.
</p>

<br>
<br>
<h2 class="offset-1 col-10">Card Rules:</h2>
<p class="offset-1 col-10">Many of the Letters have rules that are unique to them. They are printed on the bottom of the card,
    but are listed here for convinence.
</p>

<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/A.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Regulated Vowel: The bet on this Letter cannot exceed the Ledger on this, +1.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/B.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Breaking News: When this Letter enters the Research Line, add 1&#162; to each adjacent Letter.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/C.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Breaking News: When this Letter enters the Research Line, each player draws 1 card.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/D.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                When you use this as the final Letter in a word, Gain 1&#162; from the Bank.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/E.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Regulated Vowel: The bet on this Letter cannot exceed the Ledger on this, +1.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/F.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Ongoing: At the start of their turn, the spelling player places 1&#162; onto the Ledger of their choice.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/G.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                When as the first Letter in a word, Gain 1&#162; from the Bank.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/H.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                When as the first or final Letter in a word, Gain 1&#162; from the Bank.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/I.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Regulated Vowel: The bet on this Letter cannot exceed the Ledger on this, +1.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/j_wild.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                -no rule-
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/K.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                When used in a word, if it is not used immediately after a C, gain 2&#162; from the Bank.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/L.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                -no rule-
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/M.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Breaking News: When this Letter enters the Research Line, each player discards 1 card.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/N.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                -no rule-
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/O.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Regulated Vowel: The bet on this Letter cannot exceed the Ledger on this, +1.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/P.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                When used in the center of a word, gain 2&#162; from the Bank. (Sapper has 2 centers)
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/Q_wild.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                -no rule- 
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/R.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                -no rule- 
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/S.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                -no rule- 
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/T.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                -no rule- 
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/U.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Regulated Vowel: The bet on this Letter cannot exceed the Ledger on this, +1.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/V.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Ongoing: At the start of your turn, fill the Research Line to 6.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/W.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                When used in a word, any double letters count as an additional card when measuring the length of the word.
                (Weep would count as a 5-letter word)
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/X.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                Ongoing: At the start of your turn, place 2&#162; onto this Letter's Ledger.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/Y.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                When you use this letter in a word, if there are no other vowels in the word, gain 1&#162; from the Bank.
            </p>
        </div>
    </div>
</div>
<div class="col-10 offset-1">
    <div class="row">
        <div class="col-2">
            <img src="https://res.cloudinary.com/djcc248bk/image/upload/w_100/v1622699126/ExtraExtra/Letters/Z_wild.png" alt="">
        </div>
        <div class="col-10 mt-5">
            <p>
                -no rule- 
            </p>
        </div>
    </div>
</div>